<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="notifications" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item style="padding: 10px 0;" class="bg-secondary rounded lightshadow userInfo mb-1" lines="none">
    <ion-avatar slot="start">
      <img [src]="userAuth.currentUser.profileUrl || './assets/imgs/user.jpg'">
    </ion-avatar>
    <ion-label class="white">
      <h2 class="white">{{userAuth.currentUser.fullName}}</h2>
      <h3 style="margin: 3px 0px 5px 0;" class="white">
        {{userAuth.currentUser.city || 'Cape Town'}}, {{userAuth.currentUser.country || 'South Africa'}}
      </h3>
      <h5 class="white">
        <ion-icon style="position: absolute;" name="star" color="warning"></ion-icon>
        <span class="ion-padding-start">4.5 (10)</span>
      </h5>
    </ion-label>
  </ion-item>

  <ion-row>
    <ion-col size="6" class="pl-0">
      <div class="anItem lightshadow bg-white rounded ion-padding">
        <ion-icon color="secondary" name="people"></ion-icon>
        <h1>10</h1>
        <p class="appTxt">My Students</p>
      </div>
    </ion-col>
    <ion-col size="6" class="pr-0">
      <div class="anItem lightshadow bg-white rounded ion-padding">
        <ion-icon color="success" name="wallet"></ion-icon>
        <h1>R120</h1>
        <p class="appTxt">My Earning</p>
      </div>
    </ion-col>
    <ion-col size="6" class="pl-0">
      <div class="anItem lightshadow bg-white rounded ion-padding">
        <ion-icon color="primary" name="cube"></ion-icon>
        <h1>5</h1>
        <p class="appTxt">My Services</p>
      </div>
    </ion-col>
    <ion-col size="6" class="pr-0">
      <div class="anItem lightshadow bg-white rounded ion-padding">
        <ion-icon color="warning" name="star"></ion-icon>
        <h1>4.5
          <small>(10)</small>
        </h1>
        <p class="appTxt">My Rating</p>
      </div>
    </ion-col>
  </ion-row>

  <ion-item class="ion-no-padding bg-none" style="padding-left: 5px; margin: 8px 0;" lines="none">
    <ion-label>
      <h2 class="bold">New Offers</h2>
      <p>You have got (2) new offers from students!</p>
    </ion-label>
  </ion-item>

  <div *ngFor="let offer of newOffers" class="rounded bg-white lightshadow mb-1" style="padding: 10px 0;">
    <ion-item class="rounded">
      <ion-label>
        <h2 class="bold">{{offer.offerTitle}}</h2>
        <h4 class="gray" style="margin: 7px 0;">
          <ion-icon name="calendar-number-outline" style="position: absolute;"></ion-icon>
          <span class="ion-margin-horizontal">{{offer.date}}</span>
          <ion-icon name="time-outline" style="position: absolute;"></ion-icon>
          <span class="ion-margin-start">{{offer.startTime}} to {{offer.endTime}}</span>
        </h4>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img [src]="offer.student.profileUrl || './assets/imgs/user1.png'">
      </ion-avatar>
      <ion-label>
        <h4>{{offer.student.fullName}}</h4>
        <p>{{offer.student.city}}, {{offer.student.country}}</p>
      </ion-label>
      <ion-badge color="secondary" slot="end">R{{offer.offerAmount}}</ion-badge>
    </ion-item>
  </div>

</ion-content>