<!-- <ion-header>
  <ion-toolbar>
    <ion-title>pre-signup</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

  <div class="ion-text-center mt-3 mb-3">
    <h3>Choose One!</h3>
    <p>Studying and teaching was never that easy.</p>
    <img class="w-100 mt-3" src="../../../assets/imgs/teacher-student.PNG">
    <ion-button routerLink="/signup" fill="outline" color="primary" class="h-50 ion-margin">STUDENT</ion-button>
    <ion-button routerLink="/signup" fill="outline" color="secondary" class="h-50 ion-margin">TUTOR</ion-button>
    <p class="mt-3">
      Students and tutors love to explore their needs in our app. Choose the one according to your need.
    </p>
    <ion-button routerLink="/login" routerDirection="back" fill="clear" color="secondary">
      <ion-icon name="arrow-back" slot="start"></ion-icon> Go back
    </ion-button>
  </div>

</ion-content>